<div class="header-actions">
  <h1>My Tasks</h1>
  
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Filter by Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus" (selectionChange)="applyFilter()">
        <mat-option value="ALL">All Tasks</mat-option>
        <mat-option value="TO_DO">To Do</mat-option>
        <mat-option value="IN_PROGRESS">In Progress</mat-option>
        <mat-option value="DONE">Done</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" routerLink="/tasks/new">
      <mat-icon>add</mat-icon> New Task
    </button>
  </div>
</div>

<mat-table [dataSource]="filteredTasks" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let task">
      <mat-chip-set>
        <mat-chip [color]="getStatusColor(task.status)" selected>
          {{task.status}}
        </mat-chip>
      </mat-chip-set>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let task">
      <button mat-icon-button color="accent" [routerLink]="['/tasks/edit', task.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(task.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>